[Desktop Entry]
Name=Eksanos
GenericName=TicTacToe;Naughts and Crosses;
Comment=Simple TicTacToe Game
Catagories=Game;Utility;Education;
Exec=com.github.eksanos.eksanos
Icon=com.github.eksanos.eksanos
Terminal=false
Type=Application
Keywords=Example;
