[Desktop Entry]
Name=Eksanos
GenericName=TicTacToe;
Comment=A TicTacToe Game
Categories=Game;
Exec=com.github.eksanos.eksanos-gtk4
Icon=com.github.eksanos.eksanos-gtk4
Terminal=false
Type=Application
Keywords=TicTacToe;Naughts;Crosses;
