[Desktop Entry]
Name=Eksanos
GenericName=TicTacToe
Comment=Simple TicTacToe Game
Catagories=Game;Utility;Education;
Exec=com.github.keilith-l.eksanos
Icon=com.github.keilith-l.eksanos
Terminal=false
Type=Application
Keywords=Example;
